html {
  font-size: 62.5%;
}

body {
  font: 1.4em "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック",
    "MS PGothic", Verdana, Arial, sans-serif;
  margin: 0;
  color: #313131;
  line-height: 2em;
}
.question {
  font-size: 2em;
}

.outer {
  text-align: center;
  line-height: 2em;
}

.inner {
  display: inline-block;
  text-align: right;
  line-height: 2em;
}

button {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 1em; /* フォントサイズ */
  background-color: #ffa219; /* 背景色 */
  color: #fff; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 0.27em; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button:hover {
  background-color: #b36a00; /* 背景色 */
}

.visibility-hidden {
  visibility: hidden;
}

input[type="button"] {
  -webkit-appearance: none;
}

input {
  border: 0;
  border-radius: 0.27em; /* 角丸 */
  font-size: 1em; /* 文字サイズ */
  background-color: #1aa1ff;
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 1.5em; /* フォントサイズ */
  color: #fff; /* テキストカラー */
}

input:hover {
  background-color: #064fda; /* 背景色 */
}

input.Inputfield {
  border: 0.15em solid #adbbc7; /* 枠線 */
  border-radius: 0.27em; /* 角丸 */
  padding: 0.5em; /* 内側の余白量 */
  background-color: rgb(255, 255, 255); /* 背景色 */
  width: 10em; /* 横幅 */
  height: auto; /* 高さ */
  font-size: 1em; /* 文字サイズ */
  margin: 1em 0; /* 前後の隙間 */
  color: #000; /* テキストカラー */
}
