html {
  font-size: 62.5%;
}

body {
  font: 14px/1.6 "Hiragino Kaku Gothic Pro", Osaka, "メイリオ",
    "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
  margin: 0;
  color: #313131;
  line-height: 28px;
}

.outer {
  text-align: center;
}

.inner {
  display: inline-block;
  text-align: right;
}

button {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
  margin: 1em 0; /* 前後の隙間 */
  padding: 0.6em 1em; /* 塗りの余白 */
  font-size: 1em; /* フォントサイズ */
  background-color: #1aa1ff; /* 背景色 */
  color: #fff; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 3px; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
}

/* ホバー時（カーソルをのせた時）の見た目 */
button:hover {
  background-color: #064fda; /* 背景色 */
}

.visibility-hidden {
  visibility: hidden;
}
