html {
  font-size: 62.5%;
  touch-action: manipulation;
}

body {
  font: 1.4em "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", "ＭＳ Ｐゴシック",
    "MS PGothic", Verdana, Arial, sans-serif;
  margin: 0;
  /* color: #313131; */
  line-height: 2em;
  text-align: center;
}

p {
  padding: 4%;
}

.inner {
  /* display: inline-block; */
  display: flex;
  justify-content: center;
  line-height: 2em;
  text-align: center;
}

img.thumbnail {
  width: 120px;
  height: 150px;
  /* margin-left: auto;
  margin-right: auto; */
}
table {
  margin: 30px;
}

td {
  height: 200px;
}
.number {
  width: 30px;
}

.name {
  width: 120px;
}
.face {
  width: 180px;
  /* padding: 5px 30px; */
  /* text-align: center; */
  /* margin: 100px　10px; */
}

button {
  /* ブラウザ特有のスタイルを無効に */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  /* 整える */
  margin: 1em 0; /* 前後の隙間 */
  padding: 1.2em 2em; /* 塗りの余白 */
  font-size: 1.2em; /* フォントサイズ */
  background-color: #6b6b6b; /* 背景色 */
  color: #fff; /* テキストカラー */
  cursor: pointer; /* カーソルを指マークに */
  border-radius: 0.27em; /* 角の丸み */
  border: 0; /* 枠線を消す */
  transition: 0.3s; /* ホバーの変化を滑らかに */
}
