html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
}

.change {
	font-family: monospace;
	background-color: #FF0000;
	color: #FFFFFF;
	font-size: 18pt;
	padding: 10px;
}
